.footer__content
  .footer__me
    img(src="/public/imgs/milogo.png", alt="")
  .footer__ctc
    .footer__ctc-links
      .footer__ctc-gr
        //- h3.footer__ctc-lb SOCIALS
        a.footer__ctc-item(href="") LINKEDIN
        a.footer__ctc-item(href="") GITLAB
        a.footer__ctc-item(href="") INSTAGRAM
      .footer__ctc-gr
        //- h3.footer__ctc-lb CONTACTS
        a.footer__ctc-item(href="") johnaleazardeleon@gmail.com
        a.footer__ctc-item.end(href="") 09517773627
  .footer__box
    .my-box__container.my-box__container--footer
      .my-box
        .my-box__ls
        .my-box__rs
        .my-box__ts
        .my-box__bs
        .my-box__bar1
        .my-box__bar2
        .my-box__cyl-l
        .my-box__cyl-2
        .my-box__cyl-3
        .my-box__cyl-4
p.footer__cpr ALL RIGHTS RESERVED ©2025