.header-logo.js-logo
  img(src="/public/imgs/milogo2.15.png", alt="")
.header-nav.js-nav
  .header-menu
    //- a(href="") ABOUT
    //- a(href="") WORKS
    //- a(href="") CONTACT
.header-hamburgir.js-hamburgir
  .header-hamburgir__hamburgir
    span.header-hamburgir__bur
      span.header-hamburgir__bur-bur