@use 'settings/color' as c;
@use 'settings/font-family' as ff;

html {
  font-family: ff.$yugo;
  font-size: 10px;
  color: c.$text;
  cursor: url('/public/imgs/crsr.png') 16 16, auto;
  overflow: hidden;
  height: 100%;
}
