@use '../tools/media-queries' as mq;

.overflow {
  overflow: hidden;
}

.pc {
  display: block;
  @include mq.sp {
    display: none;
  }
}

.sp {
  display: none;
  @include mq.sp {
    display: block;
  }
}

.mouse-overlay {
  position: fixed;
  width: 50px;
  height: 50px;
  pointer-events: none;
  background: #fff;
  filter: drop-shadow(0 0 30px #2b2b2ba1) blur(10px) invert(30%);
  opacity: 0.9;
  border-radius: 50%;
  will-change: transform;
  z-index: 9999999;
  mix-blend-mode: color-dodge;
}

.mouse-trail-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.mouse-trail {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #ffffff5b;
  opacity: 0.1;
  filter: drop-shadow(0 0 30px #2b2b2ba1) blur(20px) invert(30%);
  border-radius: 50%;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
  mix-blend-mode: difference;
}

.mouse-aura {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url('/public/imgs/mv-bg-d.png') center / contain no-repeat;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulsate 5s infinite ease-in-out;
}

.mt20 {
  margin-top: 20px;
}
