@use 'settings/color' as c;
@use 'settings/font-weight' as fw;

@keyframes logorot {
  from {
    transform: rotate3d(-30, -100, 10, 25deg) rotateZ(0deg);
  }

  to {
    transform: rotate3d(-30, -100, 10, 25deg) rotateZ(360deg);
  }
}

@keyframes marquee {
  to {
    background-position: -100%;
  }
}

@keyframes marquee-s2 {
  to {
    transform: translateX(-20%);
  }
}

@keyframes marquee-s2-w {
  to {
    left: 7px;
    filter: blur(5px);
  }
}

@keyframes shine {
  to {
    scale: 1.2;
    opacity: 0.35;
  }
}
