extends includes/layout.pug
block variables
  - page_title = 'TOP'
  - 
    var page_metatags = [
      {name: 'description', content: 'Top Page'}, 
    ]

block content
  .my
    section.my-mv.js-my-mv
      .my-mv__bg
      .my-mv__space.js-spaces
        img(src="/public/imgs/spacebox.png", alt="")
      .my-box__container.js-box
        .my-box
          .my-box__ls
          .my-box__rs
          .my-box__ts
          .my-box__bs
          .my-box__bar1
          .my-box__bar2
          .my-box__cyl-l
          .my-box__cyl-2
          .my-box__cyl-3
          .my-box__cyl-4
      .my-mv__main.js-zar
        //- .my-mv__main-dsn.js-my-mv__main-1
        //-   .my-mv__main-dsn-bgd.js-bgd
        .my-mv__main-zar.js-zar-main
          //- img.za(src="/public/imgs/alea.svg", alt="")
          img.z1.js-z1(src="/public/imgs/zar.svg", alt="")
          img.z2.js-z2(src="/public/imgs/zar.svg", alt="")
          img.z3.js-z3(src="/public/imgs/zar.svg", alt="")
          img.z4(src="/public/imgs/works/works-head-wh.svg", alt="")
          //- img.z4.js-z4(src="/public/imgs/zar.svg", alt="")
          //- img.z5.js-z5(src="/public/imgs/zar.svg", alt="")
      .my-mv__bot.js-t1
        h1.my-mv__t1
          img(src="/public/imgs/portfolio-01.svg", alt="")
        .my-what__bgw.js-bgw
          .my-mv__mntx
            .my-mv__mntx-left
              .my-mv__mntx-left-content
            .my-mv__mntx-left.s2
              .my-mv__mntx-left-content.s2
              
    .my-works__works.js-works__imc
      .my-works__works-wrap
        img.js-works-img(src="/public/imgs/works/arkdent-main.png", alt="")
        img.js-works-img(src="/public/imgs/works/emtech-main.jpg", alt="")
        img.js-works-img(src="/public/imgs/works/enko-main.jpg", alt="")
        img.js-works-img(src="/public/imgs/works/yomi-main.jpg", alt="")
        img.js-works-img(src="/public/imgs/works/nikkei-main.png", alt="")
        img.js-works-img(src="/public/imgs/works/jonan-main.jpg", alt="")
        img.js-works-img(src="/public/imgs/works/zero-main.jpg", alt="")
        img.js-works-img(src="/public/imgs/works/seikyusyu-main.jpg", alt="")
        img.js-works-img(src="/public/imgs/works/nishi-main.png", alt="")
        img.js-works-img(src="/public/imgs/works/tws-main.jpg", alt="")
    
    section.my-works.js-works
      .my-works__bg.js-works__bg
      .my-works__content.js-works-content
        .my-works__g
          a.my-works__g-item.js-works-item(href="https://www.arkdent.com/" target="_blank")
            p Ark Dental
            img(src="/public/imgs/works/arkdent-logo.svg", alt="")
          a.my-works__g-item.my-works__st.js-works-item.js-st(href="https://emtechs.co.jp/" target="_blank")
            p Emtechs
            img(src="/public/imgs/works/emtech-logo.png", alt="")
          a.my-works__g-item.js-works-item(href="https://enko-gh.co.jp/" target="_blank")
            p 株式会社enko
            img(src="/public/imgs/works/enko-logo.png", alt="")
          a.my-works__g-item.my-works__st.js-works-item.js-st(href="https://yomitoru.biz/" target="_blank")
            p Yomitoru
            img(src="/public/imgs/works/yomi-logo.png", alt="")
          a.my-works__g-item.js-works-item(href="https://www.nikkeikanzai.co.jp/" target="_blank")
            p Nikkeikanzai
            img(src="/public/imgs/works/nikkei-logo.png", alt="")
        .my-works__g
          a.my-works__g-item.my-works__st2.js-works-item.js-st-2(href="https://jyonan.info/" target="_blank")
            p Jonan
            img(src="/public/imgs/works/jonan-logo.png", alt="")
          a.my-works__g-item.js-works-item(href="https://www.interiorspace-zero.co.jp/" target="_blank")
            p Interior space Zero
            img(src="/public/imgs/works/zero-logo.png", alt="")
          a.my-works__g-item.my-works__st2.js-works-item.js-st-2(href="https://seikyusyu.or.jp/" target="_blank")
            p Seikyusyu
            img(src="/public/imgs/works/seikyusyu-logo.png", alt="")
          a.my-works__g-item.js-works-item(href="https://nishifuna-chiro.com/" target="_blank")
            p Nishifunabashi
            img(src="/public/imgs/works/nishi-logo.png", alt="")
          a.my-works__g-item.my-works__st2.js-works-item.js-st-2(href="https://aictest02.xsrv.jp/tws/data/" target="_blank")
            p There Win Three Service
            img(src="/public/imgs/works/tws-logo.png", alt="")

block customize_script
  script(src="js/top/index.js")
